h1 {
    margin: 0;
    padding: 10px;
    background-color: #0074d9;
    font-family: 'Yeseva One', sans-serif;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
}

main {
    padding-left: 10px;
    padding-right: 10px;
}

/* Style for the banner */
.banner {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 30px;
}

.banner img {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 130px;
    height: 113px;
}

.Banner-right img {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 130px;
    height: 113px;
}

.banner h1 {
    margin: 0;
    padding: 30px;
    height: 115px;
}

button {
    margin: 5px;
    font-size: 1.5rem;
    border-radius: 50px;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Yeseva One', sans-serif;
}

.card {
    background-color: #ffffff;
    text-shadow: none;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 1.5rem;
    box-shadow: 2px 2px 5px grey;
    font-family: 'Cinzel', serif;
}

#bgImage {
    min-height: 500px;
    background-size: cover;
    font-size: xx-large;
    text-shadow: 1px 1px 1.5px #ffffff;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-position: bottom center;
}

/* footer section styling */
footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    font-size: small;
    margin-top: 60px;
}

.fa {
    font-size: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 17px;
    border-radius: 50%;
    color: #0074d9;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .banner {
        padding: 10px 0;
    }

    button {
        margin: 5px;
        font-size: 1.25rem;
        border-radius: 50px;
    }

    .banner img,
    .Banner-right img {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        height: auto;
    }

    .banner h1 {
        padding: 10px;
        height: auto;
        font-size: 24px;
    }

    .flex {
        flex-direction: column;
        padding: 10px;
    }

    .flex div {
        padding: 5px;
        margin: 5px 0;
        border: none;
        border-bottom: 1px solid #ccc;
    }

    .banner img,
    .Banner-right img {
        display: none;
    }
}

@media screen and (max-width: 470px) {
    #flexBtn {
        display: flex;
        flex-direction: column;
    }
    
}