
 h1 {
    margin: 30px;
    padding: 0;
    background-color: rgb(91, 9, 243);
    
}


/* Apply a basic font and background color */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    
}

.banner {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}

.banner h1 {
    margin: 0;
    padding: 30px;
    
}
.card {
    margin-top: 114px;
    background-color: #ffffff;
    text-shadow: #ffffff;
}

/* Style for the flex container */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the demo divs within the flex container */
.flex div {
    padding: 10px;
    border: 1px solid #ccc;
}

/* Style for the pseudo classes */
.pseudo {
    display: inline-block;
    padding: 10px 20px;
    margin: 50px;
    border: 1px solid #333;
    background-color: #666;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
}

/* Additional style for the checkbox and its associated label */
input[type="checkbox"] {
    display: none;
}

/* Style for the toggle label */
.toggle {
    border: none;
    background-color: #999;
    color: #fff;
}

/* Style for the link button */
a.button {
    text-decoration: none;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .flex {
        flex-direction: column;
        margin-top: 200px; /* Adjust the value as needed */
    }
}


  