
h1 {
    margin: 0;
    padding: 10px;
    background-color: #880BDF;
    font-family: "Arial", sans-serif; 
    font-size: 40px; 
    color: #fff; 
    text-transform: uppercase; 
    letter-spacing: 10px; 
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
}

/* Style for the banner */
.banner {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.banner img {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 130px;
    height: 113px;
}

.Banner-right img {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 130px;
    height: 113px;
}

.banner h1 {
    margin: 0;
    padding: 30px;
    height: 115px;
}
.pseudo {
    display: inline-block;
    padding: 10px 20px;
    margin: 50px;
    border: 1px solid #333;
    background-color: #666;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
}

.card {
    margin-top: 114px;
    background-color: #ffffff;
    text-shadow: none;
}
#insertImageHere {
    min-height: 400px;
    background-size: cover;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .banner {
        padding: 10px 0;
    }

    .banner img,
    .Banner-right img {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        height: auto;
    }

    .banner h1 {
        padding: 10px;
        height: auto;
        font-size: 24px;
    }

    .card {
        margin-top: 10px;
    }

    .flex {
        flex-direction: column;
        padding: 10px;
    }

    .flex div {
        padding: 5px;
        margin: 5px 0;
        border: none;
        border-bottom: 1px solid #ccc;
    }
}